<body>
  <div class="session">
    <div class="left">
    </div>
    <form class="log-in" autocomplete="off">
      <h4>We are <span>OLIO</span></h4>
      <p>Welcome back! Log in to your account version: 1.0.1</p>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput #emailCtrl placeholder="example@olio.com">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input type="email" matInput #pwdCtrl placeholder="password">
      </mat-form-field>
      <button (click)="onLogin(emailCtrl.value, pwdCtrl.value)">Log in</button>
    </form>
  </div>
</body>
