<div class="main">
    <div class="content">
      <mat-toolbar class="tool-bar">
        <div class="flex">
            <button mat-icon-button ><mat-icon>arrow_back</mat-icon></button>
            <h1 class="example-app-name">HOTEL NAME</h1>
        </div>
        <div>
          <button mat-raised-button style="margin-right: 20px;" color="primary" (click)="addDiscount()">discount</button>
          <button class="add" style="margin-left: 10px;" mat-raised-button color="primary" (click)="open()">ADD ITEM</button>
        </div>
      </mat-toolbar>
        <div class="selected">
          <h2 >SELECTED ITEMS</h2>
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="selectedItems" class="mat-elevation-z8">
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
              </ng-container>
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
              </ng-container>
              <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef> Category </th>
                <td mat-cell *matCellDef="let element"> {{ element.category }} </td>
              </ng-container>
              <ng-container matColumnDef="rate">
                <th mat-header-cell *matHeaderCellDef> Rate </th>
                <td mat-cell *matCellDef="let element">
                  <div *ngIf="element.rate=='APS'">
                    <input style="width: 40;" placeholder="Ex. 100" #rate [value]="0" (keyup)="updateRate(element,rate, $event)"/>
                  </div>
                  <div *ngIf="element.rate!='APS'">
                    {{ element.rate }}
                  </div>
                </td>
              </ng-container>
              <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef> Quantity </th>
                <td mat-cell *matCellDef="let element">
                  <input style="width: 40;" placeholder="Ex. 1" #qty [value]="element.quantity" (keyup)="updateQty(element,qty)"/>
                </td>
              </ng-container>
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-raised-button color="accent" (click)="remove(element)">remove</button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator #paginator [pageSizeOptions]="[5,10]"></mat-paginator>
          </div>
        </div>
    </div>
    <div class="bill">
        <mat-card class="billcontent" id="billcontent">
          <div #content>
            <h4>OLIO BILLING</h4>
            <div class="margin"></div>
            <div class="header"
            style="text-align: center;
              margin-top: 20px;
              margin-bottom: 20px;">
              <h2 style="margin: 1px;">HOTEL</h2>
              <h6 style="margin: 1px;">TAG LINE</h6>
              <p style="margin: 2px; font-size: 12px;">Address: street, city, country, pincode</p>
            </div>
            <div class="margin" style="
              background-color: rgba(0, 0, 0, 0.3);
              width: 100%;
              height: 1px;"></div>
            <div class="bill-heading"
              style="
              margin-top: 10px;
              display: flex;
              justify-content: space-between;
              font-size: 18px;
              font-weight: 500;">
              <p class="name" style="margin: 0;
              font-size: 14px;">Item</p>
              <p class="cost" style="margin: 0;
              font-size: 14px;">price</p>
            </div>
            <div class="margin" style="background-color: rgba(0, 0, 0, 0.3);
                  width: 100%;
                  height: 1px;"></div>
            <div class="bill-item" style="
                  margin-top: 10px;
                  display: flex;
                  justify-content: space-between;" *ngFor="let item of items">
              <p class="name" style="margin: 0;
              font-size: 14px;">{{item.name}}   x{{item.quantity}}</p>
              <p class="cost" style="margin: 0;
              font-size: 14px;">{{item.rate*item.quantity}}/-</p>
            </div>
            <div class="margin" style="background-color: rgba(0, 0, 0, 0.5);
                  width: 100%;
                  height: 1px;"></div>
            <div class="final" style="font-weight: 600;">
              <div style="  margin-top: 10px;
              display: flex;
              justify-content: space-between;">
                <p style="margin: 0;
                font-size: 14px;">GST</p>
                <p style="margin: 0;
                font-size: 14px;">5%</p>
              </div>
              <div style="  margin-top: 10px;
              display: flex;
              justify-content: space-between;">
                <p style="margin: 0;
                font-size: 14px;">discount</p>
                <p style="margin: 0;
                font-size: 14px;">{{discount}}</p>
              </div>
              <div style="  margin-top: 10px;
              display: flex;
              justify-content: space-between;">
                <p style="margin: 0;
                font-size: 14px;">Total</p>
                <p style="margin: 0;
                font-size: 14px;">{{total}}</p>
              </div>
            </div>
          </div>
        </mat-card>
        <button mat-raised-button color="primary" (click)="printBill(content)">BOT</button>
        <button mat-raised-button color="primary" (click)="fullDayBill()">Full Day</button>

    </div>
  </div>
