<div class="main">
    <div class="content">
        <div class="items">
          <div class="search">
            <mat-form-field appearance="fill" class="searchText">
              <mat-label>Search with Name</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Apple" #input>
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="fill" class="searchId">
              <mat-label>Search with ID</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Ex. 123" #input>
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </div>
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
              </ng-container>
              <ng-container matColumnDef="progress">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Progress </th>
                <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
              </ng-container>
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
              </ng-container>
              <ng-container matColumnDef="fruit">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fruit </th>
                <td mat-cell *matCellDef="let row"> {{row.fruit}} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
              </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
        </div>
        <div class="selected">

        </div>
    </div>
    <div class="bill">
        <mat-card class="billcontent">
          <h4>POS BILLING</h4>
          <div class="bill-item">
            <p class="name">Apple</p>
            <p class="quantity">x2</p>
            <p class="cost">200$</p>
          </div>
          <div class="bill-item">
            <p class="name">Apple</p>
            <p class="quantity">x2</p>
            <p class="cost">200$</p>
          </div>
          <div class="bill-item">
            <p class="name">Apple</p>
            <p class="quantity">x2</p>
            <p class="cost">200$</p>
          </div>
          <div class="bill-item">
            <p class="name">Apple</p>
            <p class="quantity">x2</p>
            <p class="cost">200$</p>
          </div>
          <div class="bill-item">
            <p class="name">Apple</p>
            <p class="quantity">x2</p>
            <p class="cost">200$</p>
          </div>
          <div class="bill-item">
            <p class="name">Apple</p>
            <p class="quantity">x2</p>
            <p class="cost">200$</p>
          </div>
          <div class="bill-item">
            <h4 class="name">Total</h4>
            <p class="quantity">x10</p>
            <h3 class="cost">1000$</h3>
          </div>

        </mat-card>
        <button mat-raised-button color="primary">PRINT</button>
    </div>
</div>