<div style="height: 70vh; overflow: auto;">
  <div *ngIf="!categories || categories.length == 0">
    There are no categories at the time.
    <div class="button" style="padding-top: 10px; text-align: center;">
      <button mat-raised-button color="white" (click)="addCategory()">
        <mat-icon>add</mat-icon>
        Create One
      </button>
    </div>
  </div>

  <div *ngFor="let category of categories" style="width: 100%; display: flex; justify-content: space-evenly; align-items: center;">
    <mat-form-field appearance="standard">
      <mat-label>Enter the name of the item</mat-label>
      <input type="text" placeholder="" matInput [(ngModel)]="category.name" />
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Image URL</mat-label>
      <input type="text" placeholder="" matInput [(ngModel)]="category.image" />
    </mat-form-field>
    <button mat-raised-button color="white" (click)="deleteCategory(category.name,category.image)">
      <mat-icon style="color: rgb(240, 54, 54);">delete</mat-icon>
    </button>
  </div>
</div>

<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="uploadData()">
    Upload
  </button>
  <button mat-button (click)="dialogClose()">
    Close
  </button>
</mat-dialog-actions>
