<div class="categories">
  <button
    *ngFor="let category of cats"
    class="category"
    (click)="displayItems(category)"
  >
    {{ category }}
  </button>
</div>

<div *ngIf="canDisplay" class="items">
  <mat-grid-list class="item-header" cols="5" rowHeight="100px">
    <mat-grid-tile colspan="1"> Item ID </mat-grid-tile>
    <mat-grid-tile colspan="2"> Item Name </mat-grid-tile>
    <mat-grid-tile colspan="1"> Rate </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list *ngFor="let item of items" cols="5" rowHeight="100px" class="item">
    <mat-grid-tile colspan="1">
      {{ item.itemId }}
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
      {{ item.itemName }}
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      {{ item.rate }}
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-icon-button (click)="onEditItem(item.itemId)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
