<mat-form-field appearance="standard">
  <mat-label>Enter the name of the category</mat-label>
  <input type="text" placeholder="Name" matInput [(ngModel)]='name'>
</mat-form-field>
<mat-form-field appearance="standard">
  <mat-label>Enter the Image</mat-label>
  <input type="text" placeholder="Image" matInput [(ngModel)]='image'>
</mat-form-field>
<div mat-dialog-actions>
  <button mat-raised-button type="submit" color="primary" [mat-dialog-close]="{name: name, image: image}" cdkFocusInitial>
    Add
  </button>
  <button mat-raised-button (click)="closeDialog()">
    Close
  </button>
</div>
